# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# VS Code
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

# Environment variables
.env

# Kubernetes secrets
secret*.yaml

# Local authentication scripts containing secrets
get-token.ps1